<html>
  <head>
    <title>New Message</title>
  </head>
  <body>
    <%- include('navbar', { links: links })%>

    <form action="/new" method="post">
      <input type="text" name="authorName" placeholder="Your name goes here" />
      <input
        type="text"
        name="messageText"
        placeholder="Your message goes here"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
