<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <%- include('navbar', { links: links })%>

    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
      <li>
        <span>User: <%= messages[i].user %> |</span>
        <span>Added at: <%= messages[i].added %></span>
        <p><%= messages[i].text %></p>
      </li>
      <% } %>
    </ul>
  </body>
</html>
